grant codeBase "file:bin/" {
    //permission java.security.AllPermission;
    permission java.net.SocketPermission "*:1-","resolve,connect";
    permission java.io.FilePermission "wall","read,write";
    permission java.io.FilePermission "wall/-","read,write";
    permission java.io.FilePermission "Fotos/-","read";
};

grant codeBase "file:SeiTchiz.jar" {
    //permission java.security.AllPermission;
    permission java.net.SocketPermission "*:1-","resolve,connect";
    permission java.io.FilePermission "wall","read,write";
    permission java.io.FilePermission "wall/-","read,write";
    permission java.io.FilePermission "Fotos/-","read";
};