grant codeBase "file:bin/" {
    permission java.net.SocketPermission "*:1-","resolve,connect";
    permission java.io.FilePermission "wall","read,write";
    permission java.io.FilePermission "wall/-","read,write";
    permission java.io.FilePermission "Fotos/-","read";
    permission java.io.FilePermission "keystores/-","read";
    permission java.io.FilePermission "PubKeys/-","write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStore","write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword","write";
    permission java.io.FilePermission "keystores/-","read";
    permission java.io.FilePermission "PubKeys/-","read";
    permission java.io.FilePermission "1KS","read";
    permission java.io.FilePermission "2KS","read";
    permission java.io.FilePermission "1KS","read";
    permission java.io.FilePermission "1KS","read";
};

grant codeBase "file:SeiTchiz.jar" {
    permission java.net.SocketPermission "*:1-","resolve,connect";
    permission java.io.FilePermission "wall","read,write";
    permission java.io.FilePermission "wall/-","read,write";
    permission java.io.FilePermission "Fotos/-","read";
    permission java.io.FilePermission "keystores/-","read";
    permission java.io.FilePermission "PubKeys/-","write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStore","write";
    permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword","write";
    permission java.io.FilePermission "keystores/-","read";
    permission java.io.FilePermission "PubKeys/-","read";
};

grant codeBase "file:${java.home}/lib/ext/*" { 
    permission java.security.AllPermission; 
};