//dar todas as permissoes
grant codeBase "file:bin/" {
    permission java.security.AllPermission;
};

//permissoes mais afinadas POR FAZER
grant codeBase "file:SeiTchiz.jar" {
    permission java.security.AllPermission;
};